<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>29489665145-r7mf2mbjikh6ru9k15kbje5ifsr5kekr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.29489665145-r7mf2mbjikh6ru9k15kbje5ifsr5kekr</string>
	<key>API_KEY</key>
	<string>AIzaSyDfgSsyD_TNZx_lw9GW3I5_VQW_MTauH44</string>
	<key>GCM_SENDER_ID</key>
	<string>29489665145</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.plushundred.NUDining</string>
	<key>PROJECT_ID</key>
	<string>nudining-fa3ab</string>
	<key>STORAGE_BUCKET</key>
	<string>nudining-fa3ab.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:29489665145:ios:6eec03efb6879869</string>
	<key>DATABASE_URL</key>
	<string>https://nudining-fa3ab.firebaseio.com</string>
</dict>
</plist>